
body, div, p {
    margin: 0;
    padding: 0;
    
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 20px;
    font-family: Poppins;
    font-weight: 600;
}

.navbar div {
    display: flex;
}

.navbar p {
    margin: 0;
    padding: 10px 15px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-size: 20px;
}

.navbar p:hover {
    background-color: #ef4036;
    color: #ffffff;
}

.logo-holder{
    height: 40px;
    width: 40px;
}

#login{
    color: blue;
    border: 1px solid blue;
    
}
#login p{
    color: blue;
    border: 1px solid blue;
}
#login p:hover{
    color: white;
    background-color: blue;
    border: 1px solid blue;
}
